<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="assets/css/styles.css">
        {% endblock %}

        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script src="assets/js/script.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <div class="table">
        <form action="/addSms">
            <td><input name="sender" type="text" ></td>
            <td><input name="receiver" type="text" ></td>
            <td><input name="message" type="text" ></td>
            <td><input name="data" type="text" ></td>
            <td><input type="submit" value="Zapisz" ></td>
        </form>
            <button onclick="getNewData(true)">Odswież smsy</button>
            Wyszukaj po frazie<input type="text" id="input" onkeyup="filter(-1)">
            <table id = 'table'>
                <tr>
                    <th onclick="sortTable(0)">Nadawca filtruj:<input style="width: 65px;" type="text" id="input" onkeyup="filter(0)"></th>
                    <th onclick="sortTable(1)">Odbiorca filtruj:<input  style="width: 65px;" type="text" id="input" onkeyup="filter(1)"></th>
                    <th onclick="sortTable(2)">Treść odebranej wiadomości filtruj:<input style="width: 65px;" type="text" id="input" onkeyup="filter(2)"></th>
                    <th onclick="sortTable(3)">Data filtruj:<input style="width: 65px;" type="text" id="input" onkeyup="filter(3)"></th>
                </tr>
                {% for mail in mails  %}
                
                <tr class = "{{mail.id}}">
                    <td style="display: none;"><input name="id" type="hidden" value="{{mail.id}}"></td>
                    <td><input name="sender" type="text" value="{{mail.sender}}"></td>
                    <td><input name="receiver" type="text" value="{{mail.receiver}}"></td>
                    <td><input name="message" type="text" value="{{mail.message}}"></td>
                    <td><input name="data" type="text" value="{{mail.data |date('d-m-Y h:i:s')}}"></td>
                    <td><input type="submit" value="Zapisz" onclick="submitRow({{mail.id}})"></td>
                    <td><input type="submit" value="Usun" onclick="location.href='/deleteSms?id={{mail.id}}';"></td>
                </tr>
            
                {% endfor %}
            </table>
        </div>
        {% endblock %}
    </body>
</html>
